@using Microsoft.AspNetCore.Http


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The GroanZone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
      <ul class="navbar-nav flex-grow-1">
        @* if signed in *@
        @if (Context.Session.GetInt32("userId") is not null)
        {
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Jokes" asp-action="JokesIndex">All Jokes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Jokes" asp-action="NewJokeForm">Add Joke</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Sign Out</a>
          </li>
        }
        else
        {
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="RegisterForm">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LoginForm">Log In</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>