@{

  ViewData["Title"] = "User Profile";


}


<h1>Profile Page!</h1>
<p><strong>Username:</strong> @ViewBag.UserName</p>
<p><strong>Email:</strong> @ViewBag.UserEmail</p>

<br>
<br>
<p><strong>Jokes Added: </strong>@ViewBag.JokesAdded</p>
<p><strong>Jokes Rated: </strong>@ViewBag.JokesRated</p>