@model JokeViewModel

@{
  ViewData["Title"] = "Edit Joke";
}

<h1>Edit Dad Joke</h1>

<form asp-controller="Jokes" asp-action="UpdateJoke" method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input type="hidden" asp-for="Id" />

  <div class="mb-3">
    <label class="form-label" asp-for="SetUp"></label>
    <input class="form-control" asp-for="SetUp">
    <span class="form-text text-danger" asp-validation-for="SetUp"></span>
  </div>
  <div class="mb-3">
    <label class="form-label" asp-for="PunchLine"></label>
    <input class="form-control" asp-for="PunchLine">
    <span class="form-text text-danger" asp-validation-for="PunchLine"></span>
  </div>
  <a href="/jokes" class="btn btn-outline-primary">Cancel / Back to list</a>
  <button type="submit" class="btn btn-primary">Edit Dad Joke</button>
</form>