@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Groan Zone</h1>
    <p>Where every pun is intended...</p>
    <div>
        <a class="btn btn-warning" href="/account/register">REGISTER</a>
        <a class="btn btn-success" href="/account/login">LOGIN!</a>
    </div>
</div>