@{

  ViewData["Title"] = "Error Bad Request";
}

<div>
  <h1 class="display-4">OOOOOF. This is a bad request.</h1>
  <p class="lead">So ... the request sent out wasn't vibing. Maybe try it again?</p>
  <a href="/home/index" class="btn btn-primary">Back to Home</a>
</div>