@{

  ViewData["Title"] = "Access Forbidden";
}

<div>
  <h1 class="display-4">You do not have access to this page.</h1>
  <p class="lead">It's a very specific circumstance, but you managed to get to somewhere you weren't supposed to!</p>
  <a href="/home/index" class="btn btn-primary">Back to Home</a>
  <a href="https://tamagotchi-official.com/gb/" class="btn btn-primary">lowkey kinda obsessed with tamagotchi's right
    now!</a>
</div>